.newsHeadline {
    text-align: center;
    margin: 70px 0 70px 0;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;

}

@media (max-width: 991px) {
    .newsHeadline {
        margin: 50px 0 50px 0;
        font-size: 65px;
        line-height: 10px;
    
    }
}

@media (max-width:375px) {
    .newsHeadline {
        font-size: 32px;
        margin: 40px 0 40px 0;
    }
}