.like{
    margin: 0 auto;
    background-color: #ffffff;
    height: auto !important ;
    width: 1140px;
    border-radius: 90px 90px 90px 90px ;
    padding: 0 0 10px 0;
    padding-top: 10px;

}

@media (max-width:375px) {
    .like{
        width: 316px;
        height: 380vh auto  ;
        border-radius: 40px 40px 40px 40px ;
    }
}