
main{
    margin: 0 auto;
    background-color: #ffffff;
    height: auto;
    width: 1140px;
    border-radius: 90px 90px 90px 90px ;

    .title{
        display: flex;
        justify-content: center;
        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 20px;
        text-transform: uppercase;
        padding-top: 67px;
        span{
            color: #0039C7;
        }

    }
    
}